# Supabase Public API Credentials (Client)
NEXT_PUBLIC_SUPABASE_URL=https://avlykfylgyhbzjsdltdv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key_here

# Supabase Private Server Credentials (Server Only)
SUPABASE_URL=https://avlykfylgyhbzjsdltdv.supabase.co
SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key_here
SUPABASE_SECRET_KEY=your_supabase_secret_key_here
SUPABASE_REST_URL=https://avlykfylgyhbzjsdltdv.supabase.co/rest/v1/
SUPABASE_JWKS_URL=https://avlykfylgyhbzjsdltdv.supabase.co/auth/v1/.well-known/jwks.json

# PostgreSQL Direct Connection Strings
DATABASE_URL="postgresql://postgres.avlykfylgyhbzjsdltdv:[YOUR-PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.avlykfylgyhbzjsdltdv:[YOUR-PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"

